<section class="md-section" id="id-8">
  <div class="row" style="padding: 0 2rem">
    <div class="container col-md-9 contract">
      <p>
      Lời đầu tiên The classic studio muốn gửi lời chào đến toàn bộ thành viên trong lớp đã tin tưởng và book The Classic làm đơn vị chính thức xây dựng bộ hình kỷ yếu của lớp bạn.
      <br>The Classic sẽ gửi đến lớp các bạn 1 mã code riêng: <%= @contract.code %> và link hợp đồng: http://theclassic.studio/contracts/<%= @contract.id %>
      <br>Trong hợp đồng có bao gồm: thông tin thợ chụp, và lịch trình. Các bạn theo dõi để nắm được lịch trình ngày chụp.
      <br>Với mã code, các bạn có thể sử dụng toàn bộ dịch vụ của chúng tôi. Vì vậy hãy lưu ý lưu nó lại đâu đó dễ tìm.
      <br>VỀ VIỆC TẠO DÁNG: 
      <br>Bạn không biết tạo dáng và còn tư ti trước ống kình? Đừng lo, hãy tự tin lên và truy cập http://theclassic.studio/posing/ có thể giúp bạn trở thành model. 
      <br>VỀ NHỮNG THẮC MẮC: http://theclassic.studio/ask
      <br>VỀ VIỆC ẢNH GỐC, ẢNH SỬA:
      <br>- Ảnh sửa sẽ được chỉnh sửa trong khoảng thời gian lâu nhất 1 tuần.
      <br>- Ảnh gốc sẽ được send khi gửi đủ ảnh sửa.
      <br>Truy cập ảnh gốc và ảnh sửa như thế nào? truy cập http://theclassic.studio/articles/17/huong-dan-xem-anh-tren-he-thong-the-classic
      <p>
    </div>
  </div>
</section>