<div class="page-wrap">
	<!-- Content-->
	<div class="md-content">
		<!-- hero -->
		<div class="hero" id="id-1" style="background-image: url('img/bg/1.jpg');">
			<div class="hero__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 ">
							<h1 class="hero__title">
								<!-- typing__module -->
								<div class="typing__module" data-options='{"typeSpeed":60}'>
									<div class="typed-strings"><span>The classic studio</span><span>We are photographers</span><span>We are creative</span>
									</div><span class="typed"></span>
								</div><!-- End / typing__module -->
							</h1>
							<p class="hero__text" style="font-size:15px">The classic studio works in yearbook, event, wedding projects<br>
								Contact: (+84)1223420210
							</p>
						</div>
					</div><span id="back-to-down"><i class="pe-7s-angle-down"></i></span>
				</div>
			</div>
		</div><!-- End / hero -->
		<!-- Section -->
		<section class="md-section bg-gray" id="id-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<!-- slide-image -->
						<div class="slide-image">
							<!-- swiper__module swiper-container -->
							<div class="swiper__module swiper-container slide-image__front" data-options='{"slidesPerView":1,"spaceBetween":0}'>
								<div class="swiper-wrapper">
									<div class="slide-item" style="background-image: url('img/about/1.jpg');"></div>
									<div class="slide-item" style="background-image: url('img/about/2.jpg');"></div>
									<div class="slide-item" style="background-image: url('img/about/3.jpg');"></div>
								</div>
								<div class="swiper-pagination-custom"></div>
							</div><!-- End / swiper__module swiper-container -->
							<!-- swiper-thumbnails__module swiper-container -->
							<div class="swiper-thumbnails__module swiper-container slide-image__black" data-options='{"slidesPerView":1,"spaceBetween":0,"delay":10000}'>
								<div class="swiper-wrapper">
									<div class="slide-item" style="background-image: url('img/about/1b.jpg');"></div>
									<div class="slide-item" style="background-image: url('img/about/2b.jpg');"></div>
									<div class="slide-item" style="background-image: url('img/about/3b.jpg');"></div>
								</div>
							</div><!-- End / swiper-thumbnails__module swiper-container -->
						</div><!-- End / slide-image -->
					</div>
					<div class="col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
						<!-- title -->
						<div class="title">
							<h2 class="title__title">Hello from The classic studio</h2>
						</div><!-- End / title -->
						<p class="fz-16">Wanna have INCREDIBLE PHOTOs but nobody help you...<br>
							Wanna make a FIML OR MV PROJECT but you can't do it alone...<br>
							Having PROBLEMs with the camera but nobody help you...<br>
							Interested in MODELLING,ACTING OR EVEN SINGING and wanna TRY for once...<br>
							JOIN US !!!With PROFESSIONAL Experience, WE bring BEST SHOT,BEST MOMENT and BEST MOVIE ever!!!!!!!
						</p>
					</div>
				</div>
				<!-- swiper__module swiper-container -->
				<div class="swiper__module swiper-container mt-50" data-options='{"slidesPerView":3,"spaceBetween":30,"autoplay":2000,"breakpoints":{"640":{"slidesPerView":1},"991":{"slidesPerView":2}}}'>
					<div class="swiper-wrapper">
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-paint-bucket"></i></div>
							<h3 class="service__title">Social Media</h3>
							<p class="service__text">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-paint-bucket"></i></div>
							<h3 class="service__title">Social Media</h3>
							<p class="service__text">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-lintern"></i></div>
							<h3 class="service__title">Investment Planning</h3>
							<p class="service__text">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque.</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-gleam"></i></div>
							<h3 class="service__title">Risk Management</h3>
							<p class="service__text">Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur,</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-anchor"></i></div>
							<h3 class="service__title">Marketing Planning</h3>
							<p class="service__text">Duis porttitor libero ac egestas euismod. Maecenas quis felis turpis. Nulla quis</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-refresh"></i></div>
							<h3 class="service__title">Site Security</h3>
							<p class="service__text">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu.</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-joy"></i></div>
							<h3 class="service__title">Risk Management</h3>
							<p class="service__text">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-lock"></i></div>
							<h3 class="service__title">Investment Planning</h3>
							<p class="service__text">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque.</p>
						</div><!-- End / service -->
						<!-- service -->
						<div class="service mb-0">
							<div class="service__icon"><i class="pe-7s-magnet"></i></div>
							<h3 class="service__title">Site Security</h3>
							<p class="service__text">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus</p>
						</div><!-- End / service -->
					</div>
				</div><!-- End / swiper__module swiper-container -->
			</div>
		</section>
		<!-- End / Section -->
		<!-- Section -->
		<section class="md-section" id="id-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 ">
						<!-- title -->
						<div class="title">
							<h2 class="title__title">portfolio</h2>
						</div><!-- End / title -->
					</div>
				</div>
				<div class="grid-css grid-css--grid" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
					<div class="filter">
						<ul class="filter__list">
							<li><a href="#" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".cat1">Yearbook</a></li>
							<li><a href="#" data-filter=".cat2">Wedding</a></li>
							<li><a href="#" data-filter=".cat3">Products</a></li>
						</ul>
					</div>
					<div class="grid__inner">
						<div class="grid-sizer"></div>
						<div class="grid-item normal cat1 cat4">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="https://www.youtube.com/watch?v=XNqn4gEakQA"><a class="portfolio__bg popup-video" href="https://www.youtube.com/watch?v=XNqn4gEakQA" style="background-image: url('img/portfolio/1.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/1.jpg"/>
											<div class="portfolio__icon"><i class="fa fa-play"></i></div></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item normal cat4 cat2">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/2.jpg"><a class="portfolio__bg" href="img/portfolio/2.jpg" style="background-image: url('img/portfolio/2.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/2.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item normal cat2 cat1">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/3.jpg"><a class="portfolio__bg" href="img/portfolio/3.jpg" style="background-image: url('img/portfolio/3.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/3.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item normal cat3 cat4 cat2">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/4.jpg"><a class="portfolio__bg" href="img/portfolio/4.jpg" style="background-image: url('img/portfolio/4.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/4.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item normal cat4 cat3">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/5.jpg"><a class="portfolio__bg" href="img/portfolio/5.jpg" style="background-image: url('img/portfolio/5.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/5.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item normal cat1 cat4 cat3">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/6.jpg"><a class="portfolio__bg" href="img/portfolio/6.jpg" style="background-image: url('img/portfolio/6.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/6.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item normal cat2 cat3">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/7.jpg"><a class="portfolio__bg" href="img/portfolio/7.jpg" style="background-image: url('img/portfolio/7.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/7.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item normal cat3 cat1">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/8.jpg"><a class="portfolio__bg" href="img/portfolio/8.jpg" style="background-image: url('img/portfolio/8.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/8.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
						<div class="grid-item cat3 cat1">
							<div class="grid-item__inner">
								<div class="grid-item__content-wrapper">
									<!-- portfolio -->
									<div class="portfolio" href="img/portfolio/9.jpg"><a class="portfolio__bg" href="img/portfolio/9.jpg" style="background-image: url('img/portfolio/9.jpg');" data-effect="mfp-zoom-in"><img src="img/portfolio/9.jpg"/></a>
									</div><!-- End / portfolio -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End / Section -->
		<!-- Section -->
		<section class="md-section bg-gray" id="id-4">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<!-- title -->
						<div class="title">
							<h2 class="title__title">Our photographers</h2>
						</div><!-- End / title -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div>
							<div class="post__media"><a href="#"><img src="img/blog/1.jpg" alt=""/></a></div>
							<div class="post__body">
								<h2 class="post__title">QUAN DO</h2>
								<div class="post__meta"><span class="author"><a href="#">Leaders & Creative Manager</a></span><span class="date">Jan 1, 2015</span></div>
								<p class="post__text">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet libero mattis ornare. In varius</p>
							</div>
						</div><!-- End /  -->
					</div>
					<div class="col-md-4">
						<div>
							<div class="post__media"><a href="#"><img src="img/blog/2.jpg" alt=""/></a></div>
							<div class="post__body">
								<h2 class="post__title">VIET PHAM</h2>
								<div class="post__meta"><span class="author"><a href="#">Core Photographer</a></span><span class="date">Oct 10, 2016</span></div>
								<p class="post__text">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu sagittis volutpat. Aliquam</p>
							</div>
						</div><!-- End /  -->
					</div>
					<div class="col-md-4 ">
						<div>
							<div class="post__media"><a href="#"><img src="img/blog/3.jpg" alt=""/></a></div>
							<div class="post__body">
								<h2 class="post__title">CHUNG NGUYEN</h2>
								<div class="post__meta"><span class="author"><a href="#">Sniper Soldier & Camera Man</a></span><span class="date">Jan 23, 2017</span></div>
								<p class="post__text">Sed ante nisl, fermentum et facilisis in, maximus sed ipsum. Cras hendrerit feugiat eros, ut fringilla nunc finibus sed. Quisque</p>
							</div>
						</div><!-- End /  -->
					</div>
				</div>
			</div>
		</section>
		<section class="md-section" id="id-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 ">
						<div class="title">
							<h2 class="title__title">Get in touch</h2>
						</div><!-- End / title -->
						<div class="mb-40">
							<div class="contact">
								<h3 class="contact__title">address</h3>
								<div>43 Tong Phuoc Pho St, Hai Chau Dist, Da Nang</div>
							</div><!-- End / contact -->
							<div class="contact">
								<h3 class="contact__title">email</h3>
								<div><a href="">dhquan1910@gmail.com</a></div>
							</div><!-- End / contact -->
							<div class="contact">
								<h3 class="contact__title">phone</h3>
								<div>+84 1223420210</div>
							</div><!-- End / contact -->
						</div>
					</div>
					<div class="col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
						<div class="title">
							<h2 class="title__title">Or drop a message</h2>
						</div><!-- End / title -->
						<div class="form-wrapper">
							<!-- form-item -->
							<div class="form-item form-item--half">
								<label class="form__label">email,<span>*</span>
								</label>
								<input class="form-control" type="text" name="input" placeholder=""/>
							</div><!-- End / form-item -->
							<div class="form-item form-item--half">
								<label class="form__label">Name,<span>*</span>
								</label>
								<input class="form-control" type="text" name="input" placeholder=""/>
							</div><!-- End / form-item -->
							<div class="form-item">
								<label class="form__label">message<span>*</span>
								</label>
								<textarea class="form-control"></textarea>
							</div><!-- End / form-item -->
							<div class="form-item">
								<a class="md-btn btn-custom" href="#">Send message
								</a>
							</div><!-- End / form-item -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End / Section -->
	</div>
	<!-- End / Content-->
	<!-- footer -->
	<div class="footer">
		<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
		<div class="container">
			<div class="footer__wrapper">
				<div class="footer__social">
					<!-- social-icon -->
					<a class="social-icon" href="https://www.fb.com/classic.yearbook"><i class="social-icon__icon fa fa-facebook"></i>
					</a><!-- End / social-icon -->
					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
					</a><!-- End / social-icon -->
					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
					</a><!-- End / social-icon -->
					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
					</a><!-- End / social-icon -->
					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
					</a><!-- End / social-icon -->
				</div>
				<p class="footer__copy">2018 &copy; Copyright The Classic Studio. All rights Reserved.</p>
			</div>
		</div>
	</div><!-- End / footer -->
</div>