<section class="md-section" id="id-8">
  <div class="row" style="padding: 0 2rem">
    <div class="container">
      <h3>Bảng giá bán phụ kiện - The Classic Studio - Kỷ yếu số 1 Đà Nẵng</h3>
      <table>
        <tr>
          <th>Tên trang phục</th>
          <th>Link Xem</th>
          <th>Gía Mua</th>
        </tr>
        <% @accessories.each do |art| %>
          <tr>
            <td><%=art.name%></td>
            <td><%=art.link%></td>
            <td><%=art.price%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
